<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chaao.appserver.mapper.EmployeeRoleMapper">


    <!--   新增员工和角色关联（可多添加）-->
    <insert id="insertEmployeeRoleBatch">
        <if test="list != null and list.size() > 0">
            INSERT INTO sys_employee_role (id, employee_id, role_id) VALUES
            <foreach collection="list" item="item" separator=",">
                (#{item.id}, #{item.userId}, #{item.roleId})
            </foreach>
        </if>
    </insert>



<!--    利用刚才查到的 10 个员工 ID，一次性查出它们所有的角色。查询回显所有角色-->
    <select id="selectEmployeeRoleBatch" resultType="vo.admin.RoleSimpleVO">

        SELECT
        er.employee_id AS employeeId,  <!-- 【关键】查出员工ID并映射 -->
        r.id,
        r.role_name AS roleName,   <!-- 如果数据库叫 name，DTO叫 roleName，必须用 AS 别名 -->
        r.role_code AS roleCode    <!-- 同理，确保列名和属性名一致 -->
        FROM sys_role r
        INNER JOIN sys_employee_role er ON r.id = er.role_id
        WHERE er.employee_id IN
        <foreach collection="employeeIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>


    </select>








    <select id="selectEmployeeRole" resultType="vo.admin.RoleSimpleVO">
        SELECT
        r.id,
        r.name AS roleName,   <!-- 如果数据库叫 name，DTO叫 roleName，必须用 AS 别名 -->
        r.code AS roleCode    <!-- 同理，确保列名和属性名一致 -->
        FROM sys_role r
        INNER JOIN sys_employee_role er ON r.id = er.role_id
        WHERE er.employee_id = #{employeeId}
    </select>




</mapper>