<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chaao.appserver.mapper.wx.DishMapper">

    <!-- 入参是 DishDTO 对象，取值必须  对象.字段名 -->
    <select id="dishListByCategoryId" resultType="vo.wx.DishVO">
        SELECT
        id,
        name,
        price,
        image,
        description,
        status,
        category_id,
        flavor_json  as flavorJson
        FROM dish
        WHERE deleted = 0
        AND status = #{dto.status}
        AND category_id = #{dto.categoryId}
        LIMIT #{dto.start}, #{dto.pageSize}
    </select>




</mapper>