<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chaao.appserver.mapper.wx.OrdersMapper">

    <!-- 插入订单 -->
    <insert id="insert" parameterType="entity.wx.Orders" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders (
        id,number, status, user_id,
        address_book_id, consignee,phone,address,
        amount,pay_amount,
        pay_method,
        order_time,delivery_time,
        remark,tableware_status,tableware_number
        ) VALUES (
        #{id},#{number}, #{status}, #{userId},
        #{addressBookId}, #{consignee},#{phone},#{address},
        #{amount},#{payAmount},
        #{payMethod},
        #{orderTime},  #{deliveryTime},
        #{remark},#{tablewareStatus},#{tablewareNumber}
        )
    </insert>

    <!-- 根据ID查询 -->
    <select id="getById" resultType="entity.wx.Orders">
        SELECT * FROM orders WHERE id = #{id}
    </select>

<!--    根据订单id修改订单状态-->
    <update id="updateStatus">
        UPDATE orders SET status = #{status} WHERE id = #{orderId}
    </update>


    <select id="selectUserOrderPage" resultType="entity.wx.Orders">
        SELECT id,status,checkout_time,pay_amount,create_time
        FROM orders
        WHERE user_id = #{userId} AND deleted = 0
        <if test="status != null">
            AND status = #{status}
        </if>
        ORDER BY order_time DESC
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="countUserOrder" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM orders
        WHERE user_id = #{userId} AND deleted = 0
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>



</mapper>